pre {
    color: #e2e8f0;
    background-color: #2d3748;
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.75;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    border-radius: 0.375em;
    padding: 0.75em 1.25em;
}
